// Image broken
//
// Adds a placeholder for broken images.
//
// Markup:
//<img class="c-image-broken" src="img/im-not-here.jpg" alt="alt text of the image">
//
// Styleguide Components.ImageBroken


.c-image-broken {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  &:before {
    content: '';
    height: 100%;
    border: 1px dashed $black;
    border-radius: 0;
    background: $gray;
  }

  &:after {
    content: attr(alt);
    padding: 6px;
    color: $black;
    font-size: 1rem;
    text-align: center;
  }
}
