// Form
//
// Markup:
//<form class="c-form" 
//      action="">
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Radio buttons</legend>
//      <div class="c-form__control">
//        <label> 
//          <input type="radio" name="sex" value="male">
//          Male
//        </label>
//        <label> 
//          <input type="radio" name="sex" value="female">
//          Female
//        </label>
//      </div>         
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Checkbox buttons</legend>
//      <div class="c-form__control">
//        <label> 
//          <input type="checkbox" name="motors" value="harley-davidson">
//          Harley Davidson
//        </label>
//        <label> 
//          <input type="checkbox" name="motors" value="suzuki">
//          Suzuki
//        </label>
//      </div>
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Select your pokemon</legend>
//      <label class="c-form__control">
//        Choose your favorite
//        <select name="select">
//          <option value="value1">Pikachu</option>
//          <option value="value2" selected>Charmander</option>
//          <option value="value3">Bulbasaur 3</option>
//        </select>
//      </label>
//      <label class="c-form__control">
//        Choose your enemies
//        <select multiple name="select">
//          <option value="value1">Magcargo</option>
//          <option value="value2" selected>Metang</option>
//          <option value="value3">Lugia</option>
//          <option value="value3">Grimer</option>
//          <option value="value3">Arceus</option>
//        </select>
//      </label>
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Complete your account</legend>
//      <label class="c-form__control">Name
//        <input type="text" name="name" placeholder="John Doe">
//      </label>
//      <label class="c-form__control">Age
//        <input type="number" name="age" min="1">
//      </label>
//      <label class="c-form__control">Favorite color
//        <input type="color" name="fav-color" value="#a9dd3b">
//      </label>
//      <label class="c-form__control">Last time you sneezed
//        <input type="date" name="sneezed">
//      </label>
//      <label class="c-form__control">How hot are you
//        <input type="range" name="hot" value="5" min="0" max="10" step="1">
//      </label>
//      <label class="c-form__control">Email
//        <input type="email" name="email" placeholder="name@email.com">
//      </label>
//      <label class="c-form__control">Password
//        <input type="password" name="password">
//      </label>
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Tell something about yourself</legend>
//      <label class="c-form__control">
//        It all started when..
//        <textarea></textarea>
//      </label>
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Now allowed</legend>
//      <label class="c-form__control">
//        Doesn't work 
//        <input type="text" name="name" placeholder="Nope" disabled>
//      </label>
//      <label class="c-form__control">
//        Can't select
//        <select name="select" disabled>
//          <option value="value1" selected>Nope</option>
//          <option value="value3">Noping</option>
//          <option value="value3">Hell no</option>
//        </select>
//      </label>
//      <label class="c-form__control">
//        Can't select
//        <select multiple name="select" disabled>
//          <option value="value1">Nope</option>
//          <option value="value2" selected>No</option>
//          <option value="value3">Nah</option>
//          <option value="value3">Noping</option>
//          <option value="value3">Hell no</option>
//        </select>
//      </label>
//  </fieldset>
//  <fieldset class="c-form__group">
//    <legend class="c-form__group-title">Labels on the left</legend>
//      <div class="c-form__control c-form__control--inline">
//        <div class="g-row12">
//          <div class="g-col4--xs">
//            <label>Name</label>
//          </div>
//          <div class="g-col8--xs">
//            <input type="text" name="name" placeholder="John Doe">
//          </div>
//        </div>
//      </div>
//      <div class="c-form__control c-form__control--inline">
//        <div class="g-row12">
//          <div class="g-col4--xs">
//            <label>Longer name</label>
//          </div>
//          <div class="g-col8--xs">
//            <input type="text" name="name" placeholder="John Doe">
//          </div>
//        </div>
//      </div>
//      <div class="c-form__control c-form__control--inline">
//        <div class="g-row12">
//          <div class="g-col4--xs">
//            <label>Even longer name</label>
//          </div>
//          <div class="g-col8--xs">
//            <input type="text" name="name" placeholder="John Doe">
//          </div>
//        </div>
//      </div>
//  </fieldset>
//</form>
//
// Styleguide Components.Form


$c-form-border-color: #c0392b;
$c-form-font-color: #2c3e50;
$c-form-placeholder: #95a5a6;

.c-form {
  color: $c-form-font-color;
  font-size: 1rem;
  & > .c-form__group:last-child {margin-bottom: 0;}
  & ::placeholder {color: $c-form-placeholder;}
}

.c-form__group {
  margin-bottom: 20px;
  & > .c-form__control:last-child {margin-bottom: 0;}
}

.c-form__group-title {
  display: block;
  margin-bottom: 5px;
  font-size: 1.125em;
}

.c-form__control {
  display: block;
  margin-bottom: 10px;

  & label {display: block;}
  
  &--inline label {
    padding: 8px 0px;
    text-align: right;
  }
}

.c-form__control input {
  display: block;
  width: 100%;
  border: 1px solid $c-form-border-color;
  padding: 7px 10px;

  &[type="radio"],
  &[type="checkbox"] {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
  }

  &[type="color"] {
    height: 40px;
    padding: 0;
    border: 1px solid $c-form-border-color;
    background: transparent;
    cursor: pointer;
    &::-webkit-color-swatch-wrapper {padding: 0;}
  }

  &[type="date"] {padding: 6px 10px;}

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

.c-form__control textarea {
  min-height: 80px;
  border: 1px solid $c-form-border-color;
}

.c-form__control select {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid $c-form-border-color;
  
  &[multiple] {min-height: 120px;}

  & option {padding: 6px 10px;}

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}