// Form
//
// Markup: components.form.html
//
// Styleguide Components.Form


$c-form-border-color: $black;
$c-form-font-color: $black;
$c-form-placeholder-color: $gray;


.c-form {
  color: $c-form-font-color;
  font-size: 1rem;

  & .c-form__group:last-child { margin-bottom: 0; }

  & ::placeholder { color: $c-form-placeholder-color; }
}

.c-form__group {
  margin-bottom: 20px;

  & > .c-form__control:last-child { margin-bottom: 0; }
}

.c-form__group-title {
  display: block;
  margin-bottom: 5px;
  font-size: 1.125em;
}

.c-form__control {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &.checkables-stacked label { display: block; }

  &.checkables-inline label {
    display: inline-block;
    margin-right: 15px;
  }

  &.input-inline label {
    display: block;
    padding: 8px 0px;
    text-align: right;
  }

  &.state-required:before {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    content: '*';
    display: block;
  }
}

.c-form__control input {
  display: block;
  width: 100%;
  border: 1px solid $c-form-border-color;
  padding: 7px 10px;

  &[type="radio"],
  &[type="checkbox"] {
    display: inline-block;
    width: 15px;
    margin-right: 1px;
  }

  &[type="color"] {
    height: 40px;
    padding: 0;
    border: 1px solid $c-form-border-color;
    background: transparent;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper { padding: 0; }
  }

  &[type="date"] { padding: 6px 10px; }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &[data-feedback-activated]:valid { border: 1px solid $green; }

  &[data-feedback-activated]:invalid {
    border: 1px solid $red;
    transition-delay: 1s;
  }
}

.c-form__control textarea {
  width: 100%;
  min-height: 80px;
  border: 1px solid $c-form-border-color;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &[data-feedback-activated]:valid { border: 1px solid $green; }

  &[data-feedback-activated]:invalid {
    border: 1px solid $red;
    transition-delay: 1s;
  }
}

.c-form__control select {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid $c-form-border-color;

  &[multiple] { min-height: 120px; }

  & option { padding: 6px 10px; }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &[data-feedback-activated]:valid { border: 1px solid $green; }

  &[data-feedback-activated]:invalid {
    border: 1px solid $red;
    transition-delay: 1s;
  }
}
