.kss-documentation {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
  transition: opacity 0.3s ease-out;
  @media (min-width: 1025px) {
    padding-top: 20px;
    padding-left: calc(25% + 20px);
  }
  @media (min-width: 1281px) {
    padding-left: calc(20% + 20px);
  }
  @media (min-width: 1441px) {
    padding-left: calc(15% + 20px);
  }
  &.kss-state-active {
    opacity: 0.1;
  }

  //home page
  .kss-section--depth-0 {
    overflow-x: scroll;
    
    & hr {
      margin: 25px 0;
      opacity: 0;
    }
  }

  // section
  .kss-section {
    margin-bottom: 30px;

    // title
    .kss-title {
      margin: 0;
      margin-bottom: 5px;
      font-size: rem(36px);
      &--depth-2 {font-size:rem(28px);}
      &--depth-3 {font-size:rem(20px);}

      &__permalink {
        color: $monza;
        text-decoration: none;
        &:hover, 
        &:focus {
          color: $monza;
          text-decoration: none;
          outline: 0;
        }
      }

      &__ref {
        display: none;
      }
    }

    // description
    .kss-description {
      & p {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }

  .kss-modifier__wrapper {
    padding: 1em;
    border: 1px solid $gray;
    border-bottom: none;
    background: $old-brick;

    .kss-modifier__heading {
      margin-bottom: 10px;
      font-size: rem(18px);
      color: $monza;
    }

    .kss-modifier__name {
      color: $monza;
    }

    .kss-modifier__example {
      position: relative;
      margin-bottom: 20px;
    }
  }

  .kss-markup {
    .language-markup {

    }
  }
}
