.kss-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  min-height: 51px;
  padding: 10px;
  color: $monza;
  background: $white;
  @media (min-width: 1025px) {
    display: none;
  }

  .kss-header-inner {
    position: relative;
    line-height: 34px;
  }
  
  .kss-doc-title {
    margin: 0;
    margin-left: 45px;
    color: $monza;
    font-size: rem(20px);
    text-align: center;
  }

  .kss-hamburger-icon-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 32px;
    cursor: pointer;
  }

  .kss-hamburger-icon {
    width: $bar-width;
    height: $bar-height;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 10px;
    color: $monza;
    background: $monza;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: all 0.2s ease-out;
    &:after, &:before {
      content: '';
      position: absolute;
      width: $bar-width;
      height: $bar-height;
      background: $monza;
      transition: all 0.2s ease-out;
    }        
    &:after {
      top: $bar-height*2;
      border-radius: 10px;
    }
    &:before {
      top: -$bar-height*2;
      border-radius: 10px;
    }
    &.kss-state-hover {
      background: transparent;
    }
    &.kss-state-hover::after, 
    &.kss-state-hover::before {
      width: $bar-width/2;
      transition: all 0.2s ease-in-out;
    }
    &.kss-state-hover::after {
      transform: translate($bar-height/2, -12px) rotate(405deg);
    }        
    &.kss-state-hover::before {
      transform: translate($bar-height*2 ,12px) rotate(-405deg);
    }
  }
}

// side header
.kss-side-header {
  display: none;
  padding: 20px 10px;
  @media (min-width: 1025px) {
    display: block;
  }
}