// List inline
//
// Inlines the list items
//
// Markup:
//<ul class="o-list-inline">
//  <li>item 1</li>
//  <li>item 2</li>
//  <li>item 3</li>
//  <li>item 4</li>
//</ul>
//
// Styleguide Objects.ListInline

/* $ List inline.
   ======================================== */
.o-list-inline {
  list-style: none;
  margin-left: -15px;
  padding-left: 0;
  
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  
  & > li {
    float: left;
    margin-left: 15px;
  }
}