// Calculate px to rem.
//
// rem($target, $context: $default-font-size) - transform pixel to rem.
//
// Styleguide Tools.Functions.PxToRem


@function rem($target, $context: $default-font-size) {
  @return ($target / $context) * 1rem;
}
