/* $ Alignment.
   ======================================== */
.u-align-left {
  text-align: left; 
}

.u-align-right {
  text-align: right;
}

.u-align-center {
  text-align: center;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;  
}