// Margins
// 
// Give an element a margin with the value from the grid gutter width.
// - u-marg-top
// - u-marg-right
// - u-marg-bottom
// - u-marg-left
//
// Styleguide Trumps.Utilities.Margins

/* $ Margin.
   ======================================== */
.u-marg-top {
  margin-top: $grid-gutter-width;
}

.u-marg-right {
  margin-right: $grid-gutter-width;
}

.u-marg-bottom {
  margin-bottom: $grid-gutter-width;
}

.u-marg-left {
  margin-left: $grid-gutter-width;
}
