// Alignment
//
// Aligns your text.
// *When aligning inside a table layout the following utilities are also possible.*
// - *u-align-top*
// - *u-align-bottom*
// - *u-align-middle*
//
// Markup:
//<p class="u-align-left">Left</p>
//<p class="u-align-center">Center</p>
//<p class="u-align-right">Right</p>
//<p class="u-align-justify">Justify</p>
//
// Styleguide Trumps.Utilities.Alignment


.u-align-left { text-align: left; }

.u-align-right { text-align: right; }

.u-align-center { text-align: center; }

.u-align-justify { text-align: justify; }

.u-align-top { vertical-align: top; }

.u-align-bottom { vertical-align: bottom; }

.u-align-middle { vertical-align: middle; }
