// Colors
//
// All the color variables.
//
// Weight: 1
//
// Styleguide Settings.Colors


// Primary Colors
//
// $black:     - #222222,
// $gray:      - #CCCCCC,
// $white:     - #FFFFFF,
//
// Weight: 1
//
// Styleguide Settings.Colors.PrimaryColors


$black: #222222;
$gray: #CCCCCC;
$white: #FFFFFF;


// Secondary Colors
//
// $cowabunga         - #9b59b6,
// $red               - #c0392b,
// $green             - #86B155,
// $orange            - #FCB350,
// $blue              - #3FA7D6,
//
// Weight: 2
//
// Styleguide Settings.Colors.SecondaryColors

$cowabunga: #9b59b6;
$red: #c0392b;
$green: #86B155;
$orange: #FCB350;
$blue: #3FA7D6;
