// Fonts
//
// Weight: 2
//
// Styleguide Settings.Fonts


// Default fonts
//
// $default-font-family:     - sans-serif
// $default-font-size:       - 16px
// $default-font-weight:     - normal
// $default-line-height:     - 1.5
//
// Weight: 1
//
// Styleguide Settings.Fonts.DefaultFonts


$default-font-family:           sans-serif;
$default-font-size:             16px;
$default-font-weight:           normal;
$default-line-height:           1.5;


// Default heading fonts
//
// $default-heading-font-family:   - sans-serif
// $default-heading-font-size:     - 26px
// $default-heading-font-weight:   - bold
// $default-heading-line-height:   - 1.5
//
// Weight: 2
//
// Styleguide Settings.Fonts.DefaultHeadingFonts


$default-heading-font-family:   sans-serif;
$default-heading-font-size:     26px;
$default-heading-font-weight:   bold;
$default-heading-line-height:   1.5;
