// Grid
//
// $grid-columns                - 12
// $grid-row-width              - 1200px
// $grid-gutter-width           - 20px
// $grid-query-width-sm         - 568px
// $grid-query-width-md         - 768px
// $grid-query-width-lg         - 1024px
// $grid-create-push            - false
// $grid-create-pull            - false
// $grid-create-offset          - false
// $grid-prefix                 - g-
// $grid-row                    - row12
// $grid-row-suffix             - --fluid
// $grid-col                    - col
// $grid-push                   - push
// $grid-pull                   - pull
// $grid-offset                 - offset
// $grid-suffix-xs              - --xs
// $grid-suffix-sm              - --sm
// $grid-suffix-md              - --md
// $grid-suffix-lg              - --lg
//
// Weight: 3
//
// Styleguide Settings.Grid


$grid-columns:          12        !default;
$grid-row-width:        1200px    !default;
$grid-gutter-width:     20px      !default;
$grid-query-width-sm:   568px     !default;
$grid-query-width-md:   768px     !default;
$grid-query-width-lg:   1024px    !default;

$grid-create-push:      false     !default;
$grid-create-pull:      false     !default;
$grid-create-offset:    false     !default;

$grid-prefix:           g-        !default;
$grid-row:              row12     !default;
$grid-row-suffix:       --fluid   !default;
$grid-col:              col       !default;
$grid-push:             push      !default;
$grid-pull:             pull      !default;
$grid-offset:           offset    !default;
$grid-suffix-xs:        --xs      !default;
$grid-suffix-sm:        --sm      !default;
$grid-suffix-md:        --md      !default;
$grid-suffix-lg:        --lg      !default;
