// Fonts
//
// All the font variables.
//
//
// Styleguide Settings.Fonts


$default-font-family:           sans-serif;
$default-font-size:             16px;
$default-line-height:           1.5;

$default-heading-font-family:   sans-serif;
$default-heading-font-size:     26px;
$default-heading-line-height:   1.5;
