// Tables
//
// Markup:
//<table>
//  <thead>
//    <tr>
//      <th>Header content 1</th>
//      <th>Header content 2</th>
//    </tr>
//  </thead>
//  <tbody>
//    <tr>
//      <td>Body content 1</td>
//      <td>Body content 2</td>
//    </tr>
//  </tbody>
//  <tfoot>
//    <tr>
//      <td>Footer content 1</td>
//      <td>Footer content 2</td>
//    </tr>
//  </tfoot>
//</table>
//
// Styleguide Base.Tables


/* $ Tables.
   ======================================== */
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}