// Body
//
// Body stuff here.
//
// Styleguide Base.Body


body {
  color: $black;
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
}
